.text-center {
	margin: 15px;
}

body {
	background-color: #e6f9ff;
}

@media (min-width: 576px) {
  	a.top {
		visibility: hidden;
	}
}

@media (max-width: 577px) {
	a.top {
		visibility: visible;
	}
}
 p {
 	margin-bottom: 1000px;
 }

#header-nav {
	background-color: #b3ecff;
	border-radius: 0;
	border: 0;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.3);
}

#navbarNav {
	
	font-size: 25px;

}

.nav-link {
	border: 1px solid;
}

.navbar-brand {
	font-size: 2rem;
	font-family: sans-serif;
}

.box {
	border: 1px solid;
	padding: 10px;
	background-color: #e6ffff;
}

.row {
	margin-bottom: 10px;
}

.row > div {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 15px;

}